<footer class="footer container-fluid p-3 bg-body-tertiary">
  <h5 class="text-center text-body-secondary my-3">Know Ajodhya Hills</h5>
  <p class="text-center text-body-secondary">Copyright @kuntal</p>
</footer>
