<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand ms-3 fw-bold" href="/">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/campgrounds">campgrounds</a>
          <a class="nav-link" href="/campgrounds/new">NewCamp</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if (!currentUser) { %> 
          <a class="nav-link" href="/login">Login</a>
          <button class="btn btn-primary btn-sm"><a class="nav-link text-white fw-400" href="/register"> Sign Up </a></button>
          <% } else { %>
            <form action="/logout" method="POST" class="">
              <button class="btn btn-danger">Logout</button>
            </form> 
          <!-- <a class="nav-link" href="/logout">Logout</a> -->
          <% } %> 
        </div>
      </div>
    </div>
  </nav>