<% layout('layout/boilerplate') -%>
    <div class="container-fluid hero">
        <div class="container-md">
        <div class="row align-items-center justify-content-between" style="height: 600px;">
            <div class="col-md-8 p-5 text-center text-md-start">
                <h1 class="display-3 fw-bold text-white">Find your Campground for this Weekend</h1>
                <p class="text-white">Find you perfect campground to stay at weekend</p>
                <a href="/campgrounds"><button class="btn btn-lg btn-primary">Find Campgrounds</button></a>
            </div>
            <div class="col-md-4 px-5">
                <div class="card" >
                    <form action="/register" class="needs-validation m-3" method="post" novalidate>
                        <div class="mb-3">
                            <h3 class="text-center text-primary">Add your Own Campground</h3>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="someone@email.com" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-grid gap-2">
                                <button class="btn btn-success">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div> 
    <!-- hero section end  -->
    <!-- <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h1>Top Rated Campgrounds</h1>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="card">
                    <p class="card-title"> camp.title  </p>
                </div>
            </div>

        </div>
        </div>
    </div> -->


    <!-- <div class="container mt-5 text-center">
        <div class="row">
            <div class="col">
                <h1 class="text-primary">Why Choose Yelp Camp</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officiis et magnam, aliquid optio non animi fugiat omnis consequatur odio quisquam voluptatibus similique cumque? Quam sit a sequi id harum.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officiis et magnam, aliquid optio non animi fugiat omnis consequatur odio quisquam voluptatibus similique cumque? Quam sit a sequi id harum.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officiis et magnam, aliquid optio non animi fugiat omnis consequatur odio quisquam voluptatibus similique cumque? Quam sit a sequi id harum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<div class="container" style="height: 50px;"></div>
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-2">About <br>Yelp-Camp</h1>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, hic dignissimos eius reprehenderit nostrum labore similique nobis eaque illum alias rerum, ratione distinctio voluptatem amet mollitia. Consectetur suscipit illum animi.</p>
            </div>
        </div>
    </div>
    <div class="container" style="height: 50px;"></div>

    <div class="container my-5">
        <div class="row text-center my-5">
            <div class="col">
                <h1 class="display-4">Our featured Campground</h1>
            </div>
        </div>
        <div class="row my-5">
            <% for (camp of featuredCamp) { %> 
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="<%= camp.images[0].url %> " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-3"><%= camp.title %></h5>
                        <!-- <p class="card-text"><%= camp.description %></p> -->
                        <a href="campgrounds/<%= camp._id %>" class="btn btn-primary mb-3">View Details</a>
                    </div>
                </div>
            </div>
            <% } %> 
        </div>
    </div>


