<!-- ejs-mate layout  -->
    <% layout('layout/boilerplate') -%>
    <div class="container my-5">
        <div class="row justify-content-evenly">
            <div class="col-6">
                <img src="https://source.unsplash.com/collection/483251" alt="" class="img-fluid">
            </div>
            <div class="col-6">
                <h1 class="text-primary">Make New Campground</h1>
                <form action="/campgrounds" method="post" class="needs-validation" novalidate>
                    <!-- I'm going to group things under campground.
                    So if I have multiple campground, square brackets, something else, title location.
                    When our data is sent via post request to our express app to the server, everything in the request
                    dot body will be stored under campground. -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Name of the campground</label>
                        <input type="text" class="form-control" name="campground[title]" id="title" placeholder="title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Camp Location</label>
                        <input type="text" class="form-control" name="campground[location]" id="location" placeholder="location" required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input type="number" class="form-control" name="campground[price]" id="price" placeholder="0.00" required>
                            <div class="invalid-feedback">
                                Please insert a number.
                              </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Camp Image url</label>
                        <input type="text" class="form-control" name="campground[image]" id="image" placeholder="https://example.com/image" required>
                        <div class="invalid-feedback">
                            Please choose a url.
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description of the camp</label>
                        <textarea name="campground[description]" id="description" rows="3" class="form-control" placeholder="Give a beautiful description" required></textarea>
                        <div class="invalid-feedback">
                            Please give a Desvription.
                          </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Submit</button>
                        <a href="/campgrounds" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


   
    
